@import '~antd/dist/antd.css';
.app {
  font-size: 14px;
}
/* global-main-layout */
.global-main-layout {
  display: flex;
}
.global-main-layout-aside {
  height: 100vh;
  background-color: #ececec;
  overflow-y: auto;
}
.global-main-layout-container {
  flex: 1;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}
/* global-side-nav */
.global-side-nav {
  padding: 20px 0;
  font-size: 16px;
}
.global-side-nav-item {
  cursor: pointer;
  word-break: break-word;
  padding: 10px 20px;
}
.global-side-nav-item-active {
  color: red;
  background-color: #fff;
}
/* gallery-item-box */
.gallery-item-box {
  display: grid;
  /* justify-content: space-evenly; */
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(380px, 0.25fr));
}
.gallery-item-chart {
  display: block;
  padding: 12px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
}
/* home-page */
.home-page {
  height: 100%;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
