@import '~antd/dist/antd.css';
.app {
  font-size: 14px;
}
/* global-main-layout */
.global-main-layout {
  display: flex;
}
.global-main-layout-aside {
  height: 100vh;
  background-color: #ececec;
  overflow-y: auto;
}
.global-main-layout-container {
  flex: 1;
  padding: 20px;
}
/* global-side-nav */
.global-side-nav {
  padding: 20px 0;
  font-size: 16px;
}
.global-side-nav-item {
  cursor: pointer;
  word-break: break-word;
  padding: 10px 20px;
}
.global-side-nav-item-active {
  color: red;
  background-color: #fff;
}
/* home-page */
.home-page {
  height: 100%;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
